{% extends 'base.html' %}

{% block content %}
<div class="container shadow">
	    <div class="row">
	    	<div class="col-3"></div>
		    	<div class="col-12 col-md-6">
			  	
		    		<div class="card bg-white rounded  mt-5">
						    <div class="card-body">
							    <h5 class="card-title">
				  				{{ objeto.nome }}</h5>
				  	
				  	 Descrição:{{ objeto.descricao }}
			  				</div>
			  		</div>
			  </h5>
	    	<div class="col-3"></div>
	    </div>
	</div>
			  	




{% endblock content %}