{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
	    <div class="col">
	    </div>
	    <div class="col">
	      <h3><span class="badge badge-secondary">Para qual Compartimento?</span></h3>
	    </div>
	    <div class="col">
	    </div>
	</div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Lugar</th>
		      <th scope="col">Cômodo</th>
		      <th scope="col">Compartimento</th>
		      <th scope="col">Transferir Objeto</th>
		    </tr>
		  </thead>
		  <tbody>
	{% for compartimento in compartimentos %}
			<tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td>{{ compartimento.comodo.lugar }}</td>
		      <td>{{ compartimento.comodo }}</td>
		      <td>{{ compartimento.nome }}</td>
		      <td><a href="{% url 'efetuar_transferencia' pk=compartimento.pk obj=objeto.pk %}" class="btn btn-primary">Transferir Para Este Compartimento</a></td>
		    </tr>
	  {% endfor %}
	
		</table>
</div>


{% endblock content %}